- name: Deploy Nginx and HTML page
  hosts: managed_servers
  become: yes

  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Copy index.html
      copy:
        src: files/index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0644'

    - name: Start and enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes
